<a class="ui red ribbon label">Details</a>
<div class="ui divided selection list">
  <a class="item">
    <div class="ui horizontal label">Name</div>
    {{airport.name}}
  </a>
  <a class="item">
    <div class="ui horizontal label">Airport ID</div>
    {{airport.id}}
  </a>
  <a class="item">
    <div class="ui horizontal label">Country</div>
    {{airport.country}}
  </a>
  <a class="item">
    <button class="positive mini ui button" (click)="addAirportToList(airport)">Add to list</button>
  </a>
</div>
