<div class="ui segments">
    <div class="ui segment">
        <label>Flights to destination</label>
        <table class="ui very basic celled table" *ngIf="results.length">
            <thead>
                <tr>
                    <th>From</th>
                    <th>Destination</th>
                    <th (click)="sortDate()">Date</th>
                    <th (click)="sortPrice()">Price</th>
                    <th>Carrier</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of results" [ngClass]="{'positive': data.price < min_value_dest}">
                    <td>{{data.from.name}}</td>
                    <td>{{data.to.name}}</td>
                    <td>{{data.date | date:'dd MM yyyy, h:mm a'}}</td>
                    <td>{{data.price}} {{data.currency}}</td>
                    <td>{{data.carrier}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui segment" *ngIf="resultsReturn.length">
        <label>Return flights</label>
        <table class="ui very basic celled table">
            <thead>
                <tr>
                    <th>From</th>
                    <th>Destination</th>
                    <th (click)="sortDate()">Date</th>
                    <th (click)="sortPrice()">Price</th>
                    <th>Carrier</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of resultsReturn" [ngClass]="{'positive': data.price < min_value_ret}">
                    <td>{{data.from.name}}</td>
                    <td>{{data.to.name}}</td>
                    <td>{{data.date | date:'dd MM yyyy, h:mm a'}}</td>
                    <td>{{data.price}} {{data.currency}}</td>
                    <td>{{data.carrier}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
