<a class="ui teal ribbon label">List of added airports</a>
<div class="ui divided selection list">
  <div *ngFor="let airport of airports" class="item">
    <div class="ui red horizontal label" (click)="deleteFromList(airport)">Delete</div>
    {{airport.name}}
  </div>
</div>
