<a class="ui yellow ribbon label">Selection {{target}}</a>
<div class="ui divided selection list">
    <div class="item">
        <label>Airport selection</label>
        <sui-select class="selection"
                    [(ngModel)]="selectedOption"
                    [options]="options"
                    labelField="name"
                    [isSearchable]="true"
                    [optionsFilter]="filter"
                    [optionFormatter]="formatter"
                    (selectedOptionChange)="onSelectedAirport($event)"
                    #select>
            <sui-select-option *ngFor="let option of select.filteredOptions"
                               [value]="option">
            </sui-select-option>
        </sui-select>
    </div>
    <div class="item">
        <button class="ui button primary" (click)="addPoland()">Poland</button>
    </div>
</div>
