<div class="ui segments">
    <div class="ui segment">
        <app-select [target]="target" (selectedAirport)="onSelectedAirport($event)"></app-select>
    </div>
    <div class="ui segment">
    <app-details [airport]="airportSelected" [target]="target"></app-details>
    </div>
    <div class="ui segment">
        <app-list [target]="target"></app-list>
    </div>
</div>
