<label>Date {{target}}</label>
<div class="ui left icon input">
            <i class="calendar icon"></i>
            <input suiDatepicker
            [(ngModel)]="date_field"
            (ngModelChange)="onSelectedDate()"
            pickerMode="date">
        </div>
