<div class="ui grid">
    <div class='three wide column'>
        <app-select-panel [target]="target_from"></app-select-panel>
    </div>
    <div class='three wide column'>
        <app-select-panel [target]="target_to"></app-select-panel>
    </div>
    <div class='three wide column'>
        <div class="ui segments">
            <div class="ui segment">
                <a class="ui orange ribbon label">Dates selection</a>
                <div class="ui form">
                    <div class="field">
                        <app-datefield [target]="target_from"></app-datefield>
                    </div>
                    <div class="field">
                        <app-datefield [target]="target_to"></app-datefield>
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <a class="ui green ribbon label">Results</a>
                <button
                    [disabled]="!flightService.date_from || !flightService.date_to"
                    (click)="onSearchClicked()"
                    class="ui right primary button">Search
                </button>
            </div>
        </div>
    </div>
    <div class='five wide column'>
        <app-results></app-results>
    </div>
</div>
